<!--<form>-->

    <!--"ID": "mirantis_private",-->
    <!--"Name": "Mirantis Private",-->
    <!--"Description": "Mirantis private",-->
    <!--"State": "",-->
    <!--"DeploymentData": "",-->
    <!--"Deployment": {-->
    <!--"ID": "",-->
    <!--"Access": {-->
    <!--"CloudProvider": "mirantis",-->
    <!--"Host": "https://104.198.101.132",-->
    <!--"APIPath": "",-->
    <!--"Prefix": "",-->
    <!--"Username": "admin",-->
    <!--"Password": "ssrBCMpzp5MAuRBj",-->
    <!--"BearerToken": "",-->
    <!--"Insecure": true,-->
    <!--"IsLocal": false-->
    <!---->
<!--</form>-->

<form method="post" autocomplete="off" ng-submit="$ctrl.save()">
    <div class="form-group" ng-If="$ctrl.clusterInfo.ID">
        <label for="ID_Cluster" class="sr-only">ID:</label>
        <input type="text" name="ID_Cluster" id="ID_Cluster" class="form-control" ng-model="$ctrl.clusterInfo.ID">
    </div>

    <div class="form-group">
        <label for="Name" class="sr-only">Name:</label>
        <input type="text" name="Name" id="Name" class="form-control" ng-model="$ctrl.clusterInfo.Name">
    </div>

    <div class="form-group">
        <label for="Description" class="sr-only">Description:</label>
        <input type="text" name="Description" id="Description" class="form-control" ng-model="$ctrl.clusterInfo.Description">
    </div>

    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign up" />
</form>