<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Log in with your email account </h1>
                    <form method="post" autocomplete="off" ng-submit="signin.signin()">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" ng-model="signin.email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback':signin.wrongLogPass}">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" ng-model="signin.password" name="password" id="password" class="form-control" placeholder="Password" ng-focus="signin.clear()">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signin.wrongLogPass"></span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="{{signin.loggingIn ? 'Logging in...' : 'Log in'}}" ng-disabled="signin.loggingIn" />
                    </form>
                    <a href="" ui-sref="access.signup" class="forget">Do not have an account?</a>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
