<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Sign up with your email account</h1>
                    <form method="post" autocomplete="off" ng-submit="signup.signup()">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com" ng-model="signup.email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="signup.password" ng-change="signup.checkPasswords()">
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback':signup.badPasswords}">
                            <label for="password2" class="sr-only">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm password" ng-model="signup.password2" ng-change="signup.checkPasswords()">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signup.badPasswords"></span>
                        </div>
                        <div class="form-group">
                            <label for="organization" class="sr-only">Organization</label>
                            <input type="text" name="organization" id="organization" class="form-control" placeholder="Organization" ng-model="signup.organization">
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback':signup.badPhone}">
                            <label for="phone" class="sr-only">Phone</label>
                            <input type="tel" name="phone" id="phone" class="form-control" placeholder="Phone +1 (555) 555-5555" ng-model="signup.phone" ng-change="signup.checkPhone()">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signup.badPhone"></span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign up" />
                    </form>
                    <a href="" ui-sref="access.signin" class="forget">Do you have an account?</a>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
