<ul class="nav navbar-nav navbar-right">

    <!--<li ng-repeat="m in menuItems"><a ui-sref="{{m.State}}({groupId : groupId})">{{m.Title}}</a></li>-->

    <li class="btn-group" uib-dropdown on-toggle="readGroupsIfNeeded(open)">
        <a href="#" uib-dropdown-toggle>
            User <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li role="menuitem"
                ng-repeat="g in groups"
                ng-class="{'active':groupId == g.ID}">
                    <!--<a ui-sref="{{state}}(params(g.ID))">{{g.Name}}</a>-->
                    <a href="#" ng-click="switchToGroup(g.ID)">{{g.Name}}</a>
            </li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Logout</a></li>
        </ul>
    </li>

</ul>
